body{
    background-color: rgb(142, 142, 238);
}
#i1{
    background-color: burlywood;
    border: 2px solid black;
    color: black;
    width: 200px;
    margin-top: 300px;
    margin-left: 500px;
}
#i2{
    background-color: burlywood;
    border: 2px solid black;
    color: black;
    width: 200px;
}
#b{
    margin-top: 200px;
    margin-left: 500px;
}
.btn{
    margin-top:0px;
    margin-left: 600px;
}
.btn:hover{
    color: chocolate;
}
#u1{
    background-color: burlywood;
    border: 2px solid black;
    width: 200px;
    margin-top: 300px;
    margin-left: 500px;
}
#u2{
    background-color: burlywood;
    border: 2px solid black;
    width: 200px;
}
#sgnin{
    margin-top: 200px;
    margin-left: 500px;
}
#sgnup{
    margin-top: 180px;
    margin-left: 500px;
}